* {
    box-sizing: border-box;
}

body{
    background-color:#FFF;
}

.container{
    margin-top: 1%;
    margin-bottom: 1%;
    overflow:auto;
}

.header, .footer{
    text-align: center;
    background-color:#e5e5e5;
    padding: 15px;
}

h1{
    text-transform: uppercase;
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

p, a{
    font-family: Arial, Helvetica, sans-serif;
}

.play{
    float:left;
    width:100%;
    padding: 1%;
    text-align: center;
    background-color: #30997a;
}

button{
    margin: 1%;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {opacity: 1}

.button-play{
    float: center;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

#button-stone{
    background-color: #da6f2b;
}

#button-paper{
    background-color: #f44336;
}

#button-scissors{
    background-color: #6a478f;
}

#button-new-play{
    background-color: #4CAF50;
}